<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>71685627373-oksfu1n3s4tjjk8p08pbie64jo8o6j74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71685627373-oksfu1n3s4tjjk8p08pbie64jo8o6j74</string>
	<key>API_KEY</key>
	<string>AIzaSyAJcxRdmAErYnyahaCVjXm38YwkBbv-rG4</string>
	<key>GCM_SENDER_ID</key>
	<string>71685627373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aerobace.albator</string>
	<key>PROJECT_ID</key>
	<string>albator-5a0de</string>
	<key>STORAGE_BUCKET</key>
	<string>albator-5a0de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71685627373:ios:5c1cb5ca5f59f423</string>
	<key>DATABASE_URL</key>
	<string>https://albator-5a0de.firebaseio.com</string>
</dict>
</plist>